/* ====== Grundinställningar ====== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  background-color: #abcbe7;
  color: #eee;
  padding-bottom: 50px;
}

/* ====== Header ====== */
header {
  text-align: center;
  padding: 10px;
  background: #000;

}

header img {
  max-width: 100%;
  width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* ====== Main ====== */
main {
  max-width: 900px;
   margin: 5px auto;
   padding-top: 40px;
   padding-bottom: 40px;
  padding: 0 20px;
  border-radius: 16px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.7);
background-color: #111;
}

section {
  margin-bottom: 40px;
}
h1 {
  font-size: 3.5rem;
  letter-spacing: 2px;
  color:#9e000e;
}
h2 {
  margin-bottom: 10px;
  color: #7a3942; 
}
main img {
  max-width: 100%;
  width: 40%;
  height: 40%;
  display: block;
  margin: 0 auto 10px;
  
}
.plot {
  display: flex;
  align-items: center;     
  gap: 20px;               
  margin: 0px auto;
  max-width: 900px;
  padding: 20px;
}

.plot img {
  width: 300px;            
  height: auto;
  border-radius: 6px;   
  flex-shrink: 0;          
}
.plot-text{
    display: flex;
    flex-direction: column;

}

.plot p {
  color: #eee;
}

.plot h2 {
  margin-bottom: 10px;
  font-size: 2.2rem;
  color: #9e000e;
}
/* ====== Fakta om filmen ====== */
dl {
  margin-top: 10px;
}

dt {
  font-weight: bold;
  margin-top: 10px;
  color: #7a3942;
}

dd {
  margin-left: 0;
  margin-bottom: 5px;
  border-bottom: 1px solid #333;
  padding-bottom: 5px;
}

/* ====== Trailer ====== */
iframe {
  width: 100%;
    height: auto;
  max-width: 100%;
  border: none;
  aspect-ratio: 16/9; /* make it responsiv */
  display: block;
  margin-top: 10px;
  margin: 20px auto 0;
}

/* ====== Länkar ====== */
ul {
  list-style-type: none;
    margin: 10px 0;
  padding: 0;
  display: flex;
  justify-content: center;         
  gap: 20px;                      
  flex-wrap: wrap;         
}

ul li {
  margin: 0;      
   padding-bottom: 20px;              
}

a {
  color: #646738;
  text-decoration: none;
  display: inline-block;
  padding: 8px 14px;
  border-radius: 999px;
  background: #222;
  color: #f5f5f5;
  border: 1px solid #444;
  text-decoration: none;
  font-size: 0.9rem;
  transition: background 0.2s ease, transform 0.2s ease, box-shadow 0.2s ease;
}

a:hover {
  background: #9e000e;
  border-color: #ff5757;
  transform: translateY(-2px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.7);
}

/* ====== Footer ====== */
footer {
  height: 50px;
  background-color: #dbe4ef;
  text-align: center;
  padding: 20px;
  color: #999;
  border-top: 1px solid #8f8d8d;
  border-bottom: 1px solid #8f8d8d;
  font-size: 0.9rem;
  margin-top: 50px;
  display: flex;
   align-items: center;
  justify-content: center;
  text-align: center;
}

@media (max-width: 700px) {

  /* ===== HEADER ===== */
  header {
    padding: 10px 0 30px;
  }

  header img {
    width: 80%;          
    max-width: 300px;    
    height: auto;
  }

  /* ===== MAIN CARD ===== */
  main {
   
    padding: 25px 15px;
    border-radius: 12px; 
  }

  /* ===== PLOT ===== */
  .plot {
    flex-direction: column;
    text-align: center;
  }

  .plot-text {
    text-align: center;
  }

  .plot img {
    width: 65%;
  }

  /* ===== TRAILER ===== */
  iframe {
    width: 100%;
    max-width: 100%;
    border-radius: 10px;    
    margin: 20px auto 10px;
    aspect-ratio: 16 / 9;   
  }

}