/* ====== Grundinställningar ====== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  background-color: #111;
  color: #eee;
  padding-bottom: 50px;
}

/* ====== Header ====== */
header {
  text-align: center;
  padding: 10px;
  background: #000;
  border-bottom: 2px solid #444;
}

header img {
  max-width: 100%;
  width: 50%;
  height: 50%;
  display: block;
  margin: 0 auto 10px;
}

/* ====== Main ====== */
main {
  max-width: 800px;
  margin: 40px auto;
  padding: 0 20px;
}

section {
  margin-bottom: 40px;
}
h1 {
  font-size: 3.5rem;
  letter-spacing: 2px;
  color:#9e000e;
}
h2 {
  margin-bottom: 10px;
  color: #7a3942; 
}
main img {
  max-width: 100%;
  width: 40%;
  height: 40%;
  display: block;
  margin: 0 auto 10px;
  
}
.plot {
  display: flex;
  align-items: center;     
  gap: 20px;               
  margin: 40px auto;
  max-width: 900px;
  padding: 20px;
}

.plot img {
  width: 300px;            /* ändra efter smak */
  height: auto;
  border-radius: 6px;      /* valfritt, rundar hörnen lite */
  flex-shrink: 0;          /* hindrar bilden från att krympa för mycket */
}
.plot-text{
    display: flex;
    flex-direction: column;

}

.plot p {
  color: #eee;
}

.plot h2 {
  margin-bottom: 10px;
  font-size: 2.2rem;
  color: #9e000e;
}
/* ====== Fakta om filmen ====== */
dl {
  margin-top: 10px;
}

dt {
  font-weight: bold;
  margin-top: 10px;
  color: #7a3942;
}

dd {
  margin-left: 0;
  margin-bottom: 5px;
  border-bottom: 1px solid #333;
  padding-bottom: 5px;
}

/* ====== Trailer ====== */
iframe {
  width: 100%;
  max-width: 100%;
  border: none;
  aspect-ratio: 16/9; /* make it responsiv */
  display: block;
  margin-top: 10px;
}

/* ====== Länkar ====== */
ul {
  list-style-type: square;
  margin-left: 20px;
}

a {
  color: #646738;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* ====== Footer ====== */
footer {
  text-align: center;
  padding: 20px;
  color: #999;
  border-top: 1px solid #333;
  font-size: 0.9rem;
  margin-top: 50px;
}
